<% if @current_user %>
  <% if @current_user.name.present? %>
    <p>Hello, <%= @current_user.name %>!</p>
    <p><%= link_to 'Change your name', settings_path %></p>
  <% else %>
    <p>Hello! Please <%= link_to 'set your name', settings_path %>.</p>
  <% end %>
<% else %>
  <p>Welcome! Please <%= link_to 'log in', login_path %> to be greeted.</p>
<% end %>
